<!DOCTYPE html>
<html>
<head>
	<title>Calendar</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/calendar.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">

</head>
<body>
    <%include nav%>

	<div id="newBtnDiv"><a href="events/new" id="newBtn">Add new event</a></div>
	<div class="container">

		<div id="topDiv"><button id="prevMonth"><i class="fas fa-arrow-left"></i></button><h1 id="monthSpan"></h1><button id="nextMonth"><i class="fas fa-arrow-right"></i></button></div>
	</div>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="/scripts/calendar.js"></script>
</body>
</html>