<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
</head>
<body>

		<!-- navbar -->
	<div class="topnav">
  		<a class="active" href="/">Home</a>
  		<a href="">Meeting invites</a>
  		<a href="">Contact</a>
  		<div class="nav-right">
  			<% if(currentUser){ %>
  			  	<a href="">Signed in as <%=currentUser.username%></a>
  				<a href="/logout">Logout</a>
  			<% }else{ %>
  				<a href="/login">Login</a>
  				<a href="/register">SignUp</a>
  			<% } %> 		  			
  		</div>  		
	</div>

	<div class="container">
		<h1>Log in to your new account</h1>
		<form method="POST" action="/login">
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<button>Log in</button>
		</form>
	</div>
</body>
</html>