<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
</head>
<body>

	<%include nav%>


	<div class="container">
		<h1>Log in to your new account</h1>
		<form method="POST" action="/login">
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<button>Log in</button>
		</form>
	</div>
</body>
</html>