<!DOCTYPE html>
<html>
<head>
	<title>Create New Event</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/new.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
</head>
<body>
		<!-- navbar -->
	<div class="topnav">
  		<a class="active" href="/">Home</a>
  		<a href="">Meeting invites</a>
  		<a href="">Contact</a>
  		<div class="nav-right">
  			<% if(currentUser){ %>
  			  	<a href="">Signed in as <%=currentUser.username%></a>
  				<a href="/logout">Logout</a>
  			<% }else{ %>
  				<a href="/login">Login</a>
  				<a href="/register">SignUp</a>
  			<% } %>

  			
  			
  		</div>
  		
	</div>
	
	<div class="container">
		<h2>Add a new event</h2>
		<form action="/events/new" method="POST">
			<div class="input"><label> Title : <input type="text" name="title"></label></div>
			<div class="input"><label> Description : <textarea name="description" rows="3"></textarea></div>
			<div class="input"><label> Date : <input type="date" name="day"></label></div>
			<div class="input"><label> Start Time : <input type="time" name="startTime"></label></div>
			<div class="input"><label> End Time : <input type="time" name="endTime"></label></div>
			<div class="input"><input type="submit"></div>
		</form>
	</div>
</body>
</html>