<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
</head>
<body>
    <%include nav%>

	<div class="container">
		<h1>Sign Up for a new account</h1>
		<form method="POST" action="/register">
			<input type="text" name="username" placeholder="username" id="usernameInput" required="true">
            <div class="messagediv hidden" id="OKDiv">This username is available :)</div>
            <div class="messagediv hidden" id="NotOKDiv">This username already exists. Try another</div>
			<input type="password" name="password" placeholder="password" required="true">
			<div id="captchaImg"><img src="<%=captchaSrc%>"></div>
            <input type="text" name="captcha" placeholder="enter captcha text" required="true">
            <button>Sign Up</button>
		</form>
	</div>

<script type="text/javascript">
    uInput=document.getElementById('usernameInput');
    OKDiv=document.getElementById("OKDiv");
    NotOKDiv=document.getElementById("NotOKDiv");
    subBtn=document.querySelector("form button");

    uInput.addEventListener("input",function(){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange=function(){
            if (this.readyState==4&&this.status==200) {
                if(xhttp.responseText==="0"){
                    OKDiv.classList.remove("hidden")
                    NotOKDiv.classList.add("hidden")
                    subBtn.disabled=false;
                }
                else{
                    OKDiv.classList.add("hidden")
                    NotOKDiv.classList.remove("hidden")
                    subBtn.disabled=true;                    
                }
            }
        };
        xhttp.open("GET","/usernameCheck?input="+uInput.value);
        xhttp.send();
    }) 

    
</script> 



</body>
</html>