html,body{
	width: 100%;
	height: 100%;
	background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#newBtn{

	color: black;
	text-decoration: none;
	background: #277D0A;
	color: white;
	padding: 10px;
	box-sizing: border-box;
	font-size: 1.8em;
	border-radius: 10px;

}

#newBtnDiv{
	margin-top: 30px;
	text-align: center;
	box-sizing: border-box;
}

.container{
	min-width: 600px;
	width: 80%;
	margin: 20px auto;
	height: 90%;
/*	border:1px solid red;*/
}

.thisMonthDateBox{
	font-size: 2em;
	border:1px solid blue;
	background: #C9D6FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.otherMonthDateBox{
/*	border:1px solid blue;*/
}

.otherMonthDateBox,.thisMonthDateBox{
	text-decoration: none;
	color: black;
	margin: 0.3% 0.6%;
	width: 13%;
	height: 17.7%;
	box-sizing: border-box;
	float: left;
}

#topDiv{
	border-radius: 10px;
	color: white;
	text-align: center;
	background: steelblue;
	width: 100%;
	height: 10%;
}
#monthSpan{
	font-size: 2.8rem;
	text-decoration: underline;
	display: inline;
}

#prevMonth{
	color: white;
	font-size: 2em;
	background: transparent;
	border: none;
	outline: none;
	float:left;
	height: 100%;
	display: inline;
}
#nextMonth{
	color: white;
	font-size: 2em;
	background: transparent;
	border: none;
	outline: none;
	float: right;
	height: 100%;
	display: inline;
}

