.container{
	background-color: white;
	width: 80%;
	border-radius: 30px;
	padding: 10px;
	margin: 5% auto;
}
body{
background: steelblue
}
h1,h3{
	text-align: center;
	color: white;
}

h1{
	font-size: 2.5em;
}
.eventdiv{
	padding: 10px;
	margin: 5px auto;


	font-size: 1.5rem;
}

hr{
	width:95%;
}

.container a{
	text-decoration: none;
	border: none;
	outline: none;
	color: white;
	font-size: 0.7em;
	border-radius: 10px;
	padding: 10px;
}

.rejectBtn{
	background: #FA3737;	
}


.acceptBtn{
	border-radius: 10px;
	padding: 8px;
	color: white;
	background: #49B020;
	text-decoration: none;
	
}


