.container{
	background-color: white;
	width: 80%;
	border-radius: 30px;
	padding: 10px;
	margin: 5% auto;
}
body{
background: steelblue
}
h1{
	text-align: center;
	font-size: 2.5rem;
	color: white;
}
.eventdiv{
	padding: 10px;
	margin: 5px auto;


	font-size: 1.5rem;
}

hr{
	width:95%;
}

button{
	border: none;
	outline: none;
	color: white;
	font-size: 0.7em;
	border-radius: 10px;
	padding: 10px;
}

.deleteBtn{
	background: #FA3737;	
}

.collabBtn{
	background-color: steelblue;
}

.sendBtn{
	background-color: green;
}

.usernameInput{
	border-radius: 5px;
    border: 2px solid lightblue;
    padding: 4px;
    outline: none;
}

form{
	display: inline;
}
.editbtn{
	border-radius: 10px;
	padding: 8px;
	color: white;
	background: #49B020;
	text-decoration: none;
	
}

.hidden{
	display: none;
}



.successMsg{ 

	font-size: 0.7em;
	margin: 5px 0;
    border: 1px solid darkgreen;
    background: lightgreen;
    color: darkgreen;
    padding: 6px;
    width: fit-content;
    border-radius: 10px;
}
.failureMsg{  	
	font-size: 0.7em;
	margin: 5px 0;
    border: 1px solid red;
    background: orange;
    color: red;
    padding: 6px;
    width: fit-content;
    border-radius: 10px;
}

